/*Welcome Template*/
#welcome-title {
  text-align: left;
  margin-top: 5%;
  margin-left: 25%;
  color: #336BFF;
  font-family: 'Merriweather Sans', sans-serif;
}

/*About Template*/

#about_title {

  font-family: 'Merriweather Sans', sans-serif;
}

#des-about{
  
  font-family: 'Merriweather Sans', sans-serif;
}
