{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %} My account| {% endblock %}


{% block content %}


<div class="row">
    
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'myaccount' %}" aria-current="page">My account</a></li>
                    
                </ol>
        </nav>
    
</div>


<div class="row">
   <div class="col-6">
       <div class="media">

           <div>
             
           </div>
           <div class="media-body">
               <p class="h3">{% firstof user.get_full_name user.username %}</p>
               <p class="h6">{{ user.email }}</p>
           </div>

       </div>
       <a href="{% url 'edit_profile' %}" class="btn btn-info">Edit profile</a>
       <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>
   </div>

        
</div>

{% endblock %}
