{% load static %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
  <title>{% block title %}Create your own tours{% endblock %}</title>
</head>
<body>
  {% block navigation %}
    <nav  class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">About</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'locations_list' %}">Locations</a></li>
                <li><a href="#">Trails</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Logout</a></li>
               <li><a href="#">Login</a></li>
               <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>
  {% endblock %}

  <div class="container">
    <h1>{% block title_orig %}Trail Cache{% endblock %}</h1>

    <div class="row">
      {% block content %}(no content){% endblock %}
      {% bootstrap_messages %}
    </div><!-- end outside most row -->
  </div><!-- end container -->
</body>
</html>

