{% load static %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">

  <!--title-->
  <title>{% block title %}Trail Cache{% endblock %}</title>

</head>

<body>
 
    <!-- navbar -->
    <div id="navbar-app">
    <nav  class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Trail Cache</strong></a>         
            </div>
        </div>

        <div class="navbar menu">
            <div class="navbar-end">
                 <a href="#" class="navbar=item">Plans</a>

                 <div class="navbar-item">
                     <div class="buttons">
                         <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                         <a href="{% url 'login' %}" class="button"><strong>Log in</strong></a>

                     </div>
                 </div>
            </div>
   
        </div>
        <!--div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'locations_list' %}">Locations</a></li>
                <li><a href="#">Trails</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Place Holder</a></li>
               <li><a href="#">Login</a></li>
               <li><a href="#">Sign Up</a></li>
            </ul>
        </div-->
    </nav>
    </div>
    <!-- end navbar -->

    <!-- Main -->

    <section class="section">
        {% block content %}


        {% endblock %}
    </section>
    <!--End Main--> 
    
    <!-- Footer -->
    <footer class="container footer">
        <div class="row justify-content-md-center">
           <div class="row align-items-center">
               <div class = "col-12">
                  <h2class="subtitle">Trail Cache</h2>
               </div>
            
           </div>
            
        </div>
        <div class="row justify-content-md-center">
           <div class="row align-items-center">
               <div class = "col-12">
                 
                      <a href="#">Contact</a>
                      <a href="#">Privacy policy</a>
                      <a href="#">Terms of service</a>
               </div>
            
           </div>
        </div>
        <div class="row justify-content-md-center">
           <div class="row align-items-center">
               <div class = "col-12">
                  <h2class="subtitle">Copyright (c) 2021</h2>
               </div>
            
           </div>
        </div>
    </footer>
    <!-- End Footer -->

  
</body>
</html>

