{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Locations{% endblock %}

{% block title_orig %}
<div class="container">
   <div class="row">
      <div>
               <h2><a>{{ location.name }}</a></h2>
      </div>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="location">
	 <a class="btn btn-default" href="/locations/{{ location.id }}/edit/"></a>
         <p>{{ location.name|linebreaksbr }}</p>
         <p>{{ location.address|linebreaksbr }}</p>
         <p>{{ location.lat|linebreaksbr }}</p>
         <p>{{ location.lon|linebreaksbr }}</p>
</div>                                                                       
{% endblock %}
