{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Locations{% endblock %}

{% block title_orig %}
<div class="container">
   <div class="row">
      <div>
               <h2><a>{{ location.name }}</a></h2>
      </div>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="location">
         
         <p>{{ location.name|linebreaksbr }}</p>
         <p>{{ location.address|linebreaksbr }}</p>
         <p>{{ location.lat|linebreaksbr }}</p>
         <p>{{ location.lon|linebreaksbr }}</p>
         <p>{{ location.date|linebreaksbr}}</p>
         <p>{{ location.created_by|linebreaksbr}}</p>          
         <br>
         
         <div> 
             <a class="btn btn-primary" href="{% url 'location_edit' location.id %}">Edit</a>
             <a class="btn btn-danger" href="{% url 'location_delete' location.id %}">Delete</a>
         </div>
         
         <br>
         <hr>         
                    
         <div class="spot">
            <div>
                <h3>Spots</h2>
            </div>
            
            {% for spot in spots_on_location %}
                <div>
                    <h4><a href="{% url 'spot_detail' spot.id %}">{{ spot|linebreaksbr }}</a></h4>
                </div>
            {% endfor %} 
                  
         </div>
         
         <br>
         <hr>
         
         <div class="trail">
            <div>
               <h3>Trails</h2>
            </div>
                                                  
            {% for trail in trails_on_location %}
               <div>
                   <h4><a href="/trails/{{trail.id}}/">{{ trail|linebreaksbr }}</a></h4>
               </div>
            {% endfor %}
                                                                                                                              
         </div>
                                                                                                                                       
         
         
         
         
         
         
            
</div>                                                                       
{% endblock %}
