{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Spots{% endblock %}

{% block title_orig %}
<div class="container">
   <div class="row">
      <div>
               <h2><a>{{ Spot.spot_name }}</a></h2>
      </div>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="spot">
           
         <p>{{ spot.spot_name|linebreaksbr }}</p>
         <p>{{ spot.spot_location|linebreaksbr}}</p>
         <p>{{ spot.spot_address|linebreaksbr }}</p>
         <p>{{ spot.spot_lat|linebreaksbr }}</p>
         <p>{{ spot.spot_lon|linebreaksbr }}</p>
         <p>{{ spot.spot_date|linebreaksbr }}</p>
         <p>{{ spot.spot_by|linebreaksbr }}</p>
         <br>
         
         <div>
             <a class="btn btn-primary" href="{% url 'spot_edit' spot.id %}">Edit Spot</a>
         </div>
         
                   
         <br>
         <hr>
         
         <div>
         {% for trail in trails %}
            <div>
                <h4><a href="{% url 'trail_detail' trail.id %}">{{trail|linebreaksbr}}</a></h4>
            </div>
         {% endfor %}
</div>
{% endblock %}

