{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<div class="row">
    
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>                   
                </ol>
        </nav>
    
</div>

<br>
<hr>
<br>  

<div>
    <h1>My Trails</h1>
</div>

<br>

{% for mytrail in usertrails %}
    <div>
        <h2><a href="{% url 'trail_detail' id=mytrail.id %}">{{ mytrail.trail_name }}</a></h2>
        <p>created: {{ mytrail.trail_date }}</p>
    </div>
{% endfor %}

<br>
<hr>
<br>

<div>
    <h1>All Trails</h1>
</div>

<br>

{% for trail in trails %}
    <div>
        <h2><a href="{% url 'trail_detail' id=trail.id %}">{{ trail.trail_name }}</a></h2>
        <p>created: {{ trail.trail_date }}</p>
    </div>
{% endfor %}

<br>
<hr>
<br>

<div class="row justify-content-end">
    <div class="col-sm-1 offset-md-12">
      <a href="{% url 'trail_new' %}" class="btn btn-primary">Add</a>
    </div>

</div>



{% endblock %}


