{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Trails{% endblock %}

{% block title_orig %}
<div class="container">
   <div class="row">
      <div>
               <h2><a>{{ trail.trail_name }}</a></h2>
      </div>
   </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
    
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'trails_list' %}">Trails</a></li>
                    
                </ol>
        </nav>
    
</div>

<br>
<hr>
<br>

<div class="info">
           
         <p>{{ trail.trail_name|linebreaksbr }}</p>
         <p>{{ trail.trail_location|linebreaksbr }}</p>
         <p>{{ trail.trail_public|linebreaksbr }}</p>
         <p>{{ trail.trail_lat|linebreaksbr }}</p>
         <p>{{ trail.trail_lon|linebreaksbr }}</p>
         <p>{{ trail.trail_date|linebreaksbr }}</p>
         <p>{{ trail.trail_by|linebreaksbr }}</p>        
         <br>
          
          <div>
            <a class="btn btn-primary" href="{% url 'trail_edit' trail.id %}">Edit</a>
           <a class="btn btn-danger" href="{% url 'trail_delete' trail.id %}">Delete</a>
         </div>
         
         <br>
         <hr>
         
         <div class="spot">
            <div>
                <h3>Spots in the Trail</h2>
            </div>

            {% for uspot in userspots %}
                <div>
                    <h4><a href="{% url 'spot_detail' uspot.id %}">{{ uspot|linebreaksbr }}</a></h4>
                </div>
            {% endfor %}
           
            <br>

            {% for spot in spots %}
                <div>
                    <h4><a href="{% url 'spot_detail' spot.id %}">{{ spot|linebreaksbr }}</a></h4>
                </div>
            {% endfor %}

         </div>

         
         
</div>
{% endblock %}


