{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %} Dashboard| {% endblock %}


{% block content %}


<div class="row">
    
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}" aria-current="page">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'myaccount' %}">My account</a></li>
                </ol>
        </nav>
    
</div>

<br>
<hr>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
             <h5 class="card-title">Locations</h5>
             <p class="card-text">See all your created locations</p>
             <a href="{% url 'mylocations' %}" class="btn btn-primary">Show</a>
             <a href="{% url 'location_new' %}" class="btn btn-primary">Add</a>
          </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Spots</h5>
                <p class="card-text">See all your created locations</p>
                <a href="{% url 'myspots' %}" class="btn btn-primary">Show</a>
                <a href="{% url 'spot_new' %}" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Trails</h5>
                <p class="card-text">See all your created locations</p>
                <a href="{% url 'mytrails' %}" class="btn btn-primary">Show</a>
                <a href="{% url 'trail_new' %}" class="btn btn-primary">Add</a>
            </div>
        </div>
      </div>
  </div>
</div>


<br>
<hr>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
             <h5 class="card-title">Locations</h5>
             <p class="card-text">See all public locations or create your own</p>
             <a href="{% url 'locations_list' %}" class="btn btn-primary">Show</a>
          </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Spots</h5>
                <p class="card-text">See all public spots or create your own</p>
                <a href="{% url 'spots_list' %}" class="btn btn-primary">Show</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Trails</h5>
                <p class="card-text">See all public trails or create your own</p>
                <a href="{% url 'trails_list' %}" class="btn btn-primary">Show</a>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
