{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %} Dashboard| {% endblock %}


{% block content %}


{% for location in mylocations %}
    <div>
        
        <h2><a href="{% url 'mylocation_detail' id=location.id %}">{{ location.name }}</a></h2>
        <p>created: {{ location.date }}</p>
        
    </div>
{% endfor %}

<hr>
<br>

<div class="row justify-content-end">
    <div class="col-sm-1 offset-md-12">
      <a href="{% url 'location_new' %}" class="btn btn-primary">Add</a>
    </div>

</div>


{% endblock %}
